* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(181, 181, 181);
  font-family: "Creato Display", sans-serif;
}

/* header */

header {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

header .navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-element {
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 20px;
}

.home-element img {
  width: 80%;
  margin-bottom: 330px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.background-title {
  inset: 0;
  width: 100%;
  position: absolute;
}

.background-title .plan img {
  inset: 0;
  width: 100%;
}

/* main */

.storytelling {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.book-shop {
  background-image: url(../img/shop-background-2.webp);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: white;
}

.book-shop .book {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
}

.book-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 250px;
  padding-right: 100px;
}

.book-shop .book img {
  width: 110%;
}

.book-shop p {
  margin-bottom: 70px;
  line-height: 1.6;
}

.book-info img {
  width: 50%;
}

.book-info .choice-button .lien {
  margin: 0;
  text-decoration: none;
  margin-right: 15px;
  color: white;
}

.lien-gros {
  font-weight: 700;
}

.book-info .choice-button {
  margin-bottom: 12px;
  margin-top: 70px;
}

.text-hide {
  display: none;
}

/* footer */

footer {
  background-color: black;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 32px;
  padding-right: 32px;
}

footer .social-media img {
  width: 7%;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

footer img {
  width: 80%;
  margin-bottom: 16px;
}

footer .contact {
  display: flex;
  flex-direction: column;
}

footer .contact .social-media {
  display: flex;
  flex-direction: row;
}

footer .information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}

footer .credits {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer .mentions-legales {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

footer .mentions-legales h5 {
  font-size: 18px;
  font-weight: 300;
}

footer .send {
  display: flex;
  flex-direction: row;
}

footer .newsletter h4 {
  font-size: 32px;
  margin-bottom: 14px;
}

footer .submit-button {
  border-radius: 20px;
  border: solid 2px;
  padding: 5px 24px;
}

footer .submit-button a {
  text-decoration: none;
  color: white;
}

footer .credits h6 {
  font-size: 14px;
  font-weight: lighter;
}

/* annexe */

input {
  border-radius: 20px;
  border: none;
  padding-left: 15px;
  padding-right: 60px;
  margin-right: 8px;
}

.small-button {
  border: solid 2px;
  border-radius: 20px;
  padding-right: 32px;
  padding-top: 7px;
  padding-left: 32px;
  padding-bottom: 7px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.big-button {
  color: #fde174;
  border: solid 2px;
  border-radius: 100px;
  padding-right: 48px;
  padding-top: 7px;
  padding-left: 48px;
  padding-bottom: 7px;
  font-size: 24px;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.small-button a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.big-button a {
  text-decoration: none;
  color: #fde174;
  font-weight: bold;
}

/* animation au survole */

.small-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.big-button:hover {
  background-color: #fde2745e;
}

footer .social-media img:hover {
  transform: scale(1.5);
}

/* ajustements */

.scene {
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.plan {
  height: 100vh;
  width: 100%;
  position: absolute;
}

.scene img {
  position: absolute;
}

.scene-2 img,
.scene-4 img,
.scene-5 img,
.scene-8 img,
.scene-9 img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.scene-1 img,
.scene-3 img,
.scene-6 img {
  width: 100%;
}

.scene-7 img {
  height: 100vh;
  right: 0;
}
